<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/cf5c6d5d-1b63-44d6-ae0d-93e4fbef9660/resourceGroups/cloud-shell-storage-westeurope/providers/Microsoft.Web/sites/RecipesResourceGroup</ResourceId>
    <ResourceGroup>cloud-shell-storage-westeurope</ResourceGroup>
    <ApiResourceId>/subscriptions/cf5c6d5d-1b63-44d6-ae0d-93e4fbef9660/resourceGroups/markersResourceGroup/providers/Microsoft.ApiManagement/service/recipes-cg/apis/Recipes</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://recipesresourcegroup.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>e23ed1aa-b1b1-46f3-ad3e-17dd9b01845b</ProjectGuid>
    <MSDeployServiceURL>recipesresourcegroup.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RecipesResourceGroup</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$RecipesResourceGroup</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>